html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Ubuntu-font;
  src: url(ubuntu/Ubuntu-Light.ttf);
}

@font-face {
  font-family: Bungee-Shade;
  src: url(BungeeShade-Regular.ttf);
}

@font-face {
  font-family: 'Bakbak-One Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bakbak One Regular'), url('BakbakOneRegular.woff') format('woff');
  }

@font-face {
  font-family: raleway;
  src: url(fuentes/Raleway-Regular.ttf);
}

@font-face {
  font-family: pacifico;
  src: url(fuentes/pacifico/Pacifico.ttf);
}

/*-------------------------------------contenedores-------------------------------------*/
  
body {
  background: #0f213d;
  }

.about_me{
  position: relative;
  width: 1000px;
  height: 332px;
  left: 375px;
  top: 986px;
  background-color: aqua;
}

.main{
  width: 100%;
  height: 100%;
}

.cuerpo {
  position: relative;
  /*background-color: rgb(223, 129, 106);*/
  width: 85%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

/*--------------------------------navbar------------------------------------------*/
header{
  display: flex;
  z-index: 2;
  background-color: #0f213d;
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 10%;
  top: 0;
}

.navbar{
  position: relative;
  width: 70%;
  height: 100%;
  top: 0px;
}

.navbar a { 
  display: inline-block;
  font-family: raleway;
  color: rgb(184, 184, 184);
  transition: color 1s;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}

.navbar a:hover{
  color: rgb(255, 255, 255);
  transition: all 1s;
  }

.active{
  color: white;
}

.logo-cont{
  position: relative;
  width: 30%;
  height: 10%;
  top: 14px;
}

.logo{
  position: absolute;
  width: 70px;
}

ul {
  list-style-type: none;
  background-color: #13224900;
  overflow: hidden;
}

li {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

/*-------------------------------------textos-------------------------------------*/

.saludo {
  position: absolute;
  width: 20%;
  left: 575px;
  top: 170px;
  color: rgb(255, 255, 255);
  font-family: raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 28px;
}

.logo-nombre {
  position: absolute;
  width: 30%;
  left: 575px;
  top: 166px;
  color:#FFFFFF;
  font-family: Bungee-Shade;
  font-style: normal;
  font-weight: 500;
  font-size: 88px;
  line-height: 91px;
}

.carrera {
  color: #0f213d;
  font-family: pacifico;
  position: absolute;
  top: -18px;
  left: 13;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
}

.descripcion {
  position: absolute;
  width: 30%;

  left: 575px;
  top: 428px;
  font-family: raleway;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 38px;
}

.dialogo{
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 40%;
  height: 9%;
  box-sizing: border-box;
  left: 110px;
  max-width: 400px;
  top: 560px;
  border-radius: 20px;
}

.dialogo::before{
  content: '';
  display: block;
  position: absolute;
  top: -40px;
  left:178px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid rgb(255, 255, 255);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/*-------------------------------------multimedia-------------------------------------*/

.imagen {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 940px;
  top: 310px;
}

.profile_photo{
  position: absolute;
  left: 130px;
  top: 130px;
}

.github{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 218px;
  top: 640px;
}

.ig{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 288px;
  top: 640px;
}

.linkedin{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 358px;
  top: 640px;
}

@media screen and (max-width: 1126px) {
  .dialogo {
    height: 15%;
  }
}

@media screen and (max-width: 527px){



  .cuerpo{
    background-color: #0f213d;
    width: 100%;
  }

    .saludo{
    position: absolute;
    width: 50%;
    left: 14px;
    top: 145px;
    font-size: 22px;
    line-height: 28px;
  }

  .logo-nombre {
    position: absolute;
    width: 30%;
    left: 14px;
    top: 182px;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
  }

  .descripcion {
    width: 70%;
    left: 14px;
    top: 313px;
    font-family: raleway;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
  }

  .dialogo{
    width: 70%;
    height: 7%;
    left: 45px;
    top: 516px;
  }
  
  .dialogo::before{
    top: 50px;
    left: 150px;
    border-top: 20px solid rgb(255, 255, 255);
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }


  .logo-cont{
    left: 19px;
  }

  .carrera {
    width: 100%;
    left: -4px;
    top: -18px;
    font-size: 24px;
    line-height: 42.14px;
    text-align: center;
  }

  .profile_photo{
    width: 40%;
    left: 136px;
    top: 579px;
  }

  .github{
    width: 30px;
    height: 30px;
    left: 159px;
    top: 482px;
  }
  
  .ig{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 219px;
    top: 482px;
  }
  
  .linkedin{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 279px;
    top: 482px;
  }
}
